.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  .tablet({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  });

  .desktop({
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  });
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @dark-gray-68;
}
