.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  border-bottom: 1px solid @light-gray-235;
}

.catalog__item:first-child {
  border-top: 1px solid @light-gray-235;
}

.catalog__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__title a {
  color: @dark-gray-34;
}

.catalog__details {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @dark-gray-68;
}

.catalog__more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;
}

.catalog__show-all {
  color: @dark-gray-68;
  background-color: @light-gray-242;
}
