.complementary__main-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.complementary__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.complementary__item {
  border-bottom: 1px solid @gray-205;
}

.complementary__item:first-child {
  border-top: 1px solid @gray-205;
}

.complementary__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.complementary__title a {
  color: @dark-gray-34;
}

.complementary__details {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  font-weight: 400;
  color: @dark-gray-68;
}
