.complementary__wrapper {
  .desktop({
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  });
}

.complementary__main-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.complementary__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.complementary__item {
  border-bottom: 1px solid @gray-205;

  .tablet({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  });

  .desktop({
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
  });
}

.complementary__item:first-child {
  border-top: 1px solid @gray-205;
}

.complementary__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  .tablet({
    grid-row: 1/2;
  });
}

.complementary__title a {
  color: @dark-gray-34;
}

.complementary__details {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  font-weight: 400;
  color: @dark-gray-68;

  .tablet({
    grid-row: 1/2;
  });
}

.complementary__button {
  .tablet({
    grid-column: 1/-1;
    grid-row: 2/3;
  });

  .desktop({
    grid-column: 3/4;
    grid-row: 1/2;
  });
}

.complementary__promotion {
  background-image: url("../img/promo-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: @brand-color;
}

.complementary__promotion-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-white;
  text-align: center;
}
