.form {
  font-size: 16px;
  text-transform: uppercase;
  color: @dark-gray-68;

  .desktop({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  });
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__fieldset:nth-child(2) {
  border-bottom: 1px solid @gray-217;
  border-top: 1px solid @gray-217;
}

.form__fieldset:nth-child(3),
.form__fieldset:nth-child(4),
.form__fieldset:nth-child(5) {
  .desktop({
    grid-column: 1/-1;
  });
}

.form__fieldset div {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;

  .tablet({
    margin-left: 30px;
    margin-right: 30px;
  });

  .desktop({
    margin: 0;
  });
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: @basic-black;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__question {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  align-items: center;

  .tablet({
    margin: 0;
  });
}

.form__question:last-child {
  margin-bottom: 0;
}

.form__input-text {
  border: 1px solid @light-gray-231;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 15px;
  flex-grow: 1;
}
/* Data */

.form__fieldset-data .form__question:last-child {
  margin-bottom: 24px;
}

.form__fieldset-data label {
  padding-right: 13px;
}

/* Programs */

.form__programs {
  color: @dark-gray-34;
  margin-top: 22px;
  margin-bottom: 19px;
}

.form__programs li {
  padding-left: 45px;
}

.form__programs label {
  position: relative;
  display: block;
  min-height: 30px;
}

.form__input-radio + label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid @gray-205;
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -35px;
  width: 13px;
  height: 13px;
  background-color: @brand-color;
  border-radius: 50%;
}

/* Contacts */

.form__contacts {
  .desktop({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  });
}





.form__additional {
  color: @basic-black;

  .tablet({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  });

  .desktop({
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  });
}

.form__required-data {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  color: @basic-black;
}

.form__button {
  font: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.form__input-text,
.form__textarea,
.form__input-text::placeholder,
.form__textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-gray-68;
}

.form__submit {
  .tablet({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  });

  .desktop({
    grid-column: 1/-1;
    column-gap: 80px;
  });
}
