.form {
  font-size: 16px;
  text-transform: uppercase;
  color: @dark-gray-68;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: @basic-black;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__programs {
  color: @dark-gray-34;
}

.form__additional {
  color: @basic-black;
}

.form__required-data {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  color: @basic-black;
}

.form__button {
  font: inherit;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.form__input-text::placeholder,
.form__textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-gray-68;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__fieldset:nth-child(2) {
  border-bottom: 1px solid @gray-217;
  border-top: 1px solid @gray-217;
}
