.page-header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 65px;
  justify-content: space-between;

  .tablet({
    flex-direction: row;
    min-height: 76px;
  });

  .desktop({
    min-height: 112px;
    max-width: 1440px;
    width: 84%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  });
}

.page-header__logo {
  height: 38px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 17px;

  .tablet({
    margin-left: 30px;
    margin-top: 24px;
  });

  .desktop({
    margin-left: 0;
    margin-top: 53px;
  });
}
