.page-footer {
  background-color: @light-gray-242;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
    }

  @media (min-width: @desktop-width) {
    width: 1220px;
    }
}
