.page-footer {
  background-color: @light-gray-242;
}

.page-footer__wrapper {
  .tablet({
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  });

  .desktop({
    width: 1220px;
  });
}
