.programs__header {
  background-image: url("../img/index-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
}

.programs__main-title {
  color: @basic-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.programs__slogan {
  color: @basic-white;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.programs__choice {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  background-color: @light-gray-242;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @dark-gray-68;
  border-bottom: 1px solid @gray-217;
}

.programs__view-product {
  color: @basic-black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
