.proof {
  background-color: @light-gray-234;
}

.proof__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.proof__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.proof__intro {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @dark-gray-68;
}

.proof__item {
  text-align: center;
}

.proof__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.proof__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @dark-gray-68;
}

.proof__cost {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.proof__toggles {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
