@basic-white: #FFFFFF;
@light-gray-242: #F2F2F2;
@light-gray-235: #EBEBEB;
@light-gray-234: #EAEAEA;
@light-gray-230: #E6E6E6;
@gray-217: #D9D9D9;
@gray-211: #D3D3D3;
@gray-205: #CDCDCD;
@dark-gray-68: #444444;
@dark-gray-34: #222222;
@basic-black: #000000;
@special-black: #111111;
@brand-color: #68B738;
